html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  	font-family: 'Jost*', 'Geneva', Helvetica, sans-serif;
  	font-weight: normal;
  	background: 
  		url(images/squared.svg),
  		linear-gradient(to right, #8f8f8f, #efefef);
	background-size: cover;
	background-position: top;
	background-blend-mode: color-burn;
}

@font-face{
	font-family: 'Soyuz-Grotesk-Bold';
	src: url("gridassets/Soyuz Grotesk Bold.woff");
	font-weight: bold;
}

header {
	display: grid;
	grid-template-columns: repeat(8,1fr);
	grid-auto-rows: minmax(6em, auto);
	grid-gap: 1em;
	color: #fff;
}

header > h1 {
	grid-column: 3 / 9;
	font-family: /*'Soyuz-Grotesk-Bold',*/'Jost*', serif;
	font-weight: 400;
	font-size: 4em;
	letter-spacing: -0.0625em;
	color: hsla(191, 100%, 100%, 0.93);
}

h2 {
	font-weight: 400;
}

circle { 
	mix-blend-mode: hard-light;
}

svg {
	min-height: 100%;
	max-width: 100%;
	grid-column: 2 / 3;
	padding-top: 3em;
}

a {
	text-decoration: none;
	color: #fff;
}

img {
	max-width: 100%;
}

.horiz-rule {
	border-top: 4px solid #fff;
	/*margin-top: 2em;*/
}

.grid {
	display: grid;
	grid-template-columns: repeat(8,1fr);
	grid-auto-rows: minmax(6em, auto);
	grid-gap: 1em;
	color: #fff;
}

.grid > div:nth-child(7) > i {
	font-size: 13em;
}

.grid > div:nth-child(2) > i {
	font-size: 10em;
}

.grid > div:nth-child(2) > img {
	max-height: 33em;
	mix-blend-mode: overlay;
}

.grid > div:nth-child(odd) {
	/*background: hsla(185, 85%, 55%, 0.8);
	border-radius: 0.25em;*/
	/*padding: 1em 2em;*/
	margin: 0;
}

.grid > div:nth-child(even) {
	/*background: hsla(345, 90%, 45%, 0.8);
	border-radius: 0.25em;*/
	/*padding: 1em 2em;*/
	margin: 0;
}

/*
multiply 		
screen 	
overlay 
darken
lighten 
color-dodge 
color-burn
saturation 
color 
hue
luminosity
difference
exclusion
*/

.grid > div:nth-child(1) {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
	z-index: 1;
	/*background:
		radial-gradient(
      		circle at top right,
      		hsla(183, 85%, 55%, 0.8),
      		hsla(344, 85%, 55%, 0.4)
      	);*/
}

.grid > div:nth-child(2) {
	grid-column: 4 / 6;
	grid-row: 3 / 5;
	z-index: 6;
	/*background: 
		radial-gradient(
      		circle at top right,
      		hsla(183, 85%, 55%, 0.8),
      		hsla(344, 85%, 55%, 0.4)
      	);*/
}

.grid > div:nth-child(3) {
	grid-column: 3 / 5;
	grid-row: 5 / 7;
	z-index: 5;
	/*background: 
		hsla(21, 85%, 55%, 0.4);
	background-blend-mode: color-dodge;*/
}

.grid > div:nth-child(4) {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	z-index: 6;
	background: 
		url(images/no1.svg),
		url(images/noun_square_138133_verde.svg),
		radial-gradient(
      		circle at top right,
      		hsla(183, 85%, 55%, 0.8),
      		hsla(344, 85%, 55%, 0.4)
      	);
    background-size: contain, cover;
	background-position: top right, center;
	background-repeat: no-repeat;
	background-blend-mode: overlay, color-dodge, overlay;
}

.grid > div:nth-child(5) {
	grid-column: 3 / 4;
	grid-row: 3 / 5;
	z-index: 5;
	background: 
		url(images/noun_torus_112342_lime.svg),
		url(images/no2.svg),
		radial-gradient(
      		circle at top left,
      		hsla(183, 85%, 55%, 0.8),
      		hsla(344, 85%, 55%, 0.4)
      	);
	background-size: cover, contain;
	background-position: bottom, right;
	background-repeat: no-repeat;
	background-blend-mode: soft-light, overlay, saturation;
}

.grid > div:nth-child(6) {
	grid-column: 2 / 3;
	grid-row: 5 / 7;
	z-index: 3;
	background: 
		url(images/no3.svg),
		url(images/noun_Pyramid_112339_purple.svg),
		radial-gradient(
      		circle at bottom left,
      		hsla(183, 85%, 55%, 0.8),
      		hsla(351, 85%, 55%, 0.4)
      	);
	background-size: contain, cover;
	background-position: right, top;
	background-repeat: no-repeat;
	background-blend-mode: overlay, multiply, darken;
	
}

.grid > div:nth-child(7) {
	grid-column: 4 / 9;
	grid-row: 1 / 8;
	z-index: 0;
	background: 
		url(images/noun_bend_112341_lavender.svg),
		radial-gradient(
      		circle at bottom left,
      		hsla(43, 85%, 50%, 0.85),
      		hsla(188, 85%, 55%, 0.6)
      	);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-blend-mode: color-burn, hue;
}

.grid > div:nth-child(9) {
	grid-column: 7 / 9;
	grid-row: 3 / 4;
	z-index: 6;
	background:  
		url(images/nine.svg),
		url(gridassets/images/squiggle.svg),
		hsla(351, 85%, 55%, 0.4);
	background-size: contain;
	background-position: left, left;
	background-repeat: no-repeat;
	background-blend-mode: color-dodge, darken;
}

.grid > div:nth-child(10) {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	z-index: 6;
	background: hsla(21, 85%, 55%, 0.4);
	background-blend-mode: lighten;
}

.grid > div:nth-child(11) {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	z-index: 6;
}
